.HeadLaber {
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 50px;
    border-top-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
}

.StatsLabel {
    font-size: 30px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
}
